@use '/src/styles/helpers/functions' as *;

.hero {
  //display: flex;
  //flex-direction: row;
  //justify-content: space-between;
  padding-top: fluid(66, 46);
  //column-gap: 56px;
  overflow: visible;

  display: grid;
  grid-template-columns: 568px 780px;
  gap: 76px;

  &__title {
    position: relative;
    padding-top: fluid(10, 7);
    padding-right: fluid(66, 46);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 195px;
      height: 1px;
      background-color: #CECDCD;
    }
  }

  &__description {
    padding-right: fluid(80, 47);
    margin-block: fluid(16, 11);
    font-weight: 400;
    font-size: fluid(18, 13);
    line-height: 156%;
    text-align: justify;
    color: var(--color-gray-9);

    &-accent {
      font-weight: 600;
      color: var(--color-black-1);
    }
  }

  &__button-list {
    display: flex;
    flex-direction: row;
    column-gap: fluid(23, 17);
    margin-block: fluid(29, 20);
  }

  &__list {
    margin-block: fluid(53, 26);
    display: flex;
    flex-direction: row;
    column-gap: 65px;
  }

  &__column {
    &-first {
      width: 567px;
    }

    &-second {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 780px;
      position: relative;

      margin-right: -120px;
      gap: 40px;

      &-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FCFCFD;
        box-shadow: 0 43px 34px -26px rgba(15, 15, 15, 0.12);
        border-radius: 17px;
        margin-top: 47px;
      }

    }

    &-right {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    &-left {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


  &__image-first {
    z-index: 1;
    width: fluid(391, 278);
    height: auto;
    aspect-ratio: 1;
  }

  &__image-second {
    z-index: 2;
    position: relative;
    width: fluid(319, 227);
    height: auto;
    aspect-ratio: 1;
  }

  &__image-arrow {
    width: 129px;
    height: auto;
    transform: rotate(-3deg);
    transform-origin: center;
    margin-left: -15px;
    padding-top: 36px;
  }

  &__ornament {
    position: absolute;
    left: 166px;
    top: -15px;
    width: 173px;
    height: 400px;
    z-index: 0;
  }

  &__separator {
    width: 2px;
    height: 26px;
    background-color: #E6E8EC;
  }

  &__count {
    font-family: var(--font-family-public-sans), sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    text-align: center;
    color: var(--color-black-1);
  }

  &__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #848586;
  }


}