.slider {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FCFCFD;
    box-shadow: 0 43px 34px -26px rgba(15, 15, 15, 0.12);
    border-radius: 17px;
  }

  &__separator {
    width: 2px;
    height: 26px;
    background-color: #E6E8EC;
  }
}
