.table {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-poppins);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 85px;

  &__header,
  &__row {
    display: grid;
    grid-template-columns: 370px 105px 109px 1fr 1fr 1fr;
    column-gap: 78px;
    align-items: center;
  }

  &__header {
    color: #93989a;
    font-size: 22px;
    margin-bottom: 24px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 12px;
  }

  &__row {
    border-bottom: 1px solid #d9d9d9;
    padding: 12px 0;

  }

  &__cell {
    white-space: nowrap;
    &:nth-child(1) {
      text-align: left;
      font-weight: 600;
      padding-left: 12px;
    }

    &:nth-child(3) {
      text-align: right;
      color: #10C352; /* зелёный процент */
      font-weight: 500;
    }

    &-header {
      color: #93989a !important;
    }
  }
}

.table__inner td:nth-child(1),
.table__inner th:nth-child(1) {
  margin-right: auto;
}
