.hero {
  padding-top: 66px;
  overflow: visible;
  padding-bottom: 129px;
  display: grid;
  grid-template-columns: 568px 780px;
  gap: 76px;

  &__title {
    font-family: var(--font-family-poppins);
    font-weight: 600;
    font-size: 75px;
    line-height: 120%;
    letter-spacing: -0.04em;

    text-transform: capitalize;
    color: var(--color-black-1);
    position: relative;
    padding-top: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 195px;
      height: 1px;
      background-color: #CECDCD;
    }
  }

  &__description {
    margin-block: 16px;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    line-height: 156%;
    text-align: justify;
    color: var(--color-gray-9);

    &-accent {
      font-weight: 600;
      color: var(--color-black-1);
    }
  }

  &__button-list {
    display: flex;
    flex-direction: row;
    column-gap: 23px;
    margin-block: 45px;
  }

  &__list {
    padding-block: 36px;
    display: flex;
    flex-direction: row;
    column-gap: 70px;
  }

  &__column {
    &-first {
      width: 567px;
    }

    &-second {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 780px;
      position: relative;

      margin-right: -120px;
      gap: 40px;
    }

    &-right {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    &-left {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__image-first {
    z-index: 1;
    width: 391px;
    height: auto;
    aspect-ratio: 1;
  }

  &__image-second {
    z-index: 2;
    position: relative;
    width: 319px;
    height: auto;
    aspect-ratio: 1;
  }

  &__image-arrow {
    width: 129px;
    height: auto;
    transform: rotate(-3deg);
    transform-origin: center;
    margin-left: -15px;
    padding-top: 36px;
  }

  &__first-gradient {
    width: 391px;
    height: auto;
    margin-top: -347px;
    filter: blur(84px);
    border-radius: var(--border-radius-xs);
  }

  &__second-gradient {
    width: 315px;
    height: auto;
    margin-top: -298px;
    border-radius: var(--border-radius-xs);
    filter: blur(68px);
  }

  &__ornament {
    position: absolute;
    left: 166px;
    top: -15px;
    width: 173px;
    height: 400px;
    z-index: 0;
  }

  &__separator {
    width: 2px;
    height: 26px;
    background-color: #E6E8EC;
  }

  &__count {
    font-family: var(--font-family-public-sans), sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    text-align: center;
    color: var(--color-black-1);
    padding-bottom: 6px;
  }

  &__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: start;
    color: #848586;
  }

  &__slider {
    margin-top: 47px;
  }
}