@use './helpers/mixins' as *;
@use './helpers/media' as *;
@use './helpers/functions' as *;
html, body {
  overflow-x: hidden;

}

th {
  font-weight: 500;
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-inter), sans-serif;
  color: var(--color-gray-60);
  background-color: var(--color-white);
}

main {
  flex-grow: 1;
}

//
//h1, .h1,
//h2, .h2,
//h3, .h3,
//h4, .h4,
//h5, .h5,
//h6, .h6 {
//  color: var(--color-white);
//}
//
h1, .h1 {

  @include fluid-text(85, 75);

  @include laptop {
    @include fluid-text(75, 53);
  }

  @include tablet {
    @include fluid-text(53, 47);
  }

  @include mobile {
    font-size: 47px;
  }

  font-family: var(--font-family-poppins), sans-serif;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: var(--color-black-1);

}

//
//h2, .h2 {
//  @include fluid-text(48, 24);
//
//  font-weight: 700;
//}
//
//h3, .h3 {
//  @include fluid-text(38, 20);
//
//  font-weight: 700;
//}
//
//h4, .h4 {
//  @include fluid-text(24, 18);
//
//  font-weight: 600;
//}
//
//h5, .h5 {
//  @include fluid-text(22, 18);
//
//  font-weight: 500;
//}
//
//h6, .h6 {
//  @include fluid-text(20, 16);
//
//  font-weight: 600;
//}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}


a {
  color: inherit;

  @include hover {
    color: var(--color-red-45);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type='file'] {
  max-width: 100%;
}
