@use 'helpers/constants' as *;
@use 'helpers/media' as *;
@use 'helpers/functions' as *;

:root {
  --color-white: #F9F9F9;
  --color-gray: #F1F1F1;
  --color-black: #000000;

  --color-gray-1: #EDEDED;
  --color-gray-2: #C2C3CB;
  --color-gray-3: #C5C5C5;
  --color-gray-4: #888888;
  --color-gray-5: #828282;
  --color-gray-6: #606060;
  --color-gray-7: #B9B9B9;
  --color-gray-8: #999999;
  --color-gray-9: #676767;

  --color-white-1: #F1F5F9;

  --color-black-1: #141416;

  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
  --font-family-manrope: 'Manrope', sans-serif;
  --font-family-dm-sans: 'DM Sans', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-urbanist: 'Urbanist', sans-serif;
  --font-family-public-sans: 'Public Sans', sans-serif;
  --font-family-plus-jakarda-sans: 'Plus Jakarda Sans', sans-serif;
  --font-family-outfit: 'Outfit', sans-serif;

  --border-width-s: 1.5px;
  --border-width-m: 2.3px;

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;

  --border-radius-xxs: 9px;
  --border-radius-xs: 12px;
  --border-radius-s: 14px;
  --border-radius-m: 17px;
  --border-radius-l: 21px;
  --border-radius-xl: 24px;
  --border-radius-xxl: 30px;


  @include laptop-above {
    --container-padding-x: 100px;
  }

  @include laptop {
    --container-padding-x: 93px;
  }

  @media (width <= 1240px) {
    --container-padding-x: 60px;
  }

  //@media (width <= 800px) {
  //  --container-padding-x: 50px;
  //}

  @include mobile {
    --container-padding-x: 45px
  }

  @include mobile-s {
    --container-padding-x: 30px
  }


  --container-width: #{fluid-to-laptop(
    $container-desktop-width,
    $container-laptop-width
  )};

}