@use '/src/styles/helpers/functions' as *;

.button {

  &-black {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &-transparent {
    background-color: transparent;
    color: var(--color-black);
  }

  &-white {
    background-color: #FCFCFD;

  }

  &-header {
    font-family: var(--font-family-inter);
    font-weight: 600;
    font-size: fluid(16, 12);
    text-transform: uppercase;
    line-height: 150%;

    border-radius: var(--border-radius-m);
    padding-block: fluid(16, 12);
    padding-inline: fluid(24, 17);
  }

  &-hero {
    font-family: var(--font-family-poppins);

    font-weight: 600;
    font-size: fluid(16, 11.5);
    text-transform: uppercase;
    line-height: 150%;

    //на адаптиве таблета уменьшить до xxs
    border-radius: var(--border-radius-xs);

    padding-block: fluid(18, 13);
    padding-inline: fluid(30, 20);
  }

  &-hero-card {

    &-left {
      padding-block: 22px;
      border: 0;
      padding-left: 22px;
      padding-right: 33px;
    }
    &-right {
      padding-block: 22px;

      border: 0;

      padding-right: 22px;
      padding-left: 33px;


    }
  }


}