@use '../../../styles/media' as *;

.header {
  width: 100%;
  padding-left: 120px;
  padding-right: 125px;
  position: relative;

  @include laptop-m {
    padding-left: 93px;
    padding-right: 96px;
  }

  @include laptop-s {
    padding-left: 66px;
    padding-right: 68px;
  }

  @include tablet-s {
    padding-left: 28px;
    padding-right: 32px;
  }

  &__logo {
    width: 53px;
    height: 53px;

    @include laptop-s {
      width: 37px;
      height: 37px;
    }

    @include tablet {
      width: 46px;
      height: 46px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 45px;
    column-gap: 57px;

    @include laptop {
      column-gap: 42px;
    }

    @include laptop-s {
      column-gap: 40px;
      padding-block: 34px;
    }

    @include tablet {
      column-gap: 7px;
      padding-block: 30px;
    }
  }

  &__menu {
    &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 52px;
      color: var(--color-gray-6);
      margin-left: 20px;

      @include laptop {
        column-gap: 46px;
      }

      @include laptop-s {
        column-gap: 38px;
      }

      @include tablet-m {
        display: none;
      }
    }

    &-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      color: var(--color-gray-6);

      @include laptop {
        font-size: 15px;
      }

      @include laptop-s {
        font-size: 12px;
      }
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;
    gap: 30px;

    @include laptop {
      gap: 25px;
    }

    @include laptop-s {
      gap: 20px;
    }
    @include tablet {
      display: none;
    }
  }

  &__form {
    background-color: #EDEDED;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-radius: 14px;
    width: 348px;
    height: 57px;
    padding-left: 23px;
    column-gap: 26px;
    text-wrap: nowrap;

    &-icon {
      width: 22px;
      height: 22px;

      @include laptop-s {
        width: 15px;
        height: 15px;
      }
    }

    @include laptop {
      width: 298px;
    }

    @include laptop-s {
      width: 248px;
      height: 40px;
      column-gap: 18px;
    }


    &-input {
      font-family: var(--font-family-poppins);
      font-weight: 500;
      font-size: 15px;
      line-height: 117%;
      letter-spacing: -0.02em;

      &::placeholder {
        color: #C2C3CB;
      }

      @include laptop-s {
        font-size: 11px;
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.2s ease, opacity 0.2s ease;

    &.active {
      max-height: 500px;
      opacity: 1;
    }

    &__nav-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__burger {
    display: none;

    @include tablet-m {
      display: flex;
      align-self: center;
    }
  }

  &__overlay-logo {
    display: none;
    font-family: var(--font-family-poppins);
    font-weight: 600;
    font-size: 21px;
    line-height: 130%;
    color: #000;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-right: auto;
    }
  }
}
