.header {
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 45px;
    column-gap: 40px;
  }

  &__menu {
    &-list {
      display: flex;

      column-gap: 52px;
      color: var(--color-gray-6);
      margin-left: 20px;
    }

    &-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      color: var(--color-gray-6);
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;
    gap: 30px;
  }

  &__form {
    background-color: #EDEDED;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 14px;
    width: 348px;
    padding-left: 23px;
    column-gap: 26px;
    text-wrap: nowrap;

    &-input {
      font-family: var(--font-family-poppins);
      font-weight: 500;
      font-size: 15px;
      line-height: 117%;
      letter-spacing: -0.02em;

      &::placeholder {
        color: #C2C3CB;
      }
    }
  }
}
