@use '../../../styles/media' as *;

.header {
  width: 100%;
  padding-left: 120px;
  padding-right: 125px;
  position: relative;

  @include laptop-m {
    padding-left: 93px;
    padding-right: 96px;
  }

  @include laptop {
    padding-left: 66px;
    padding-right: 68px;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 45px;
    column-gap: 40px;
  }

  &__menu {
    &-list {
      display: flex;

      column-gap: 52px;
      color: var(--color-gray-6);
      margin-left: 20px;
    }

    &-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      color: var(--color-gray-6);
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;
    gap: 30px;
  }

  &__form {
    background-color: #EDEDED;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 14px;
    width: 348px;
    padding-left: 23px;
    column-gap: 26px;
    text-wrap: nowrap;

    &-input {
      font-family: var(--font-family-poppins);
      font-weight: 500;
      font-size: 15px;
      line-height: 117%;
      letter-spacing: -0.02em;

      &::placeholder {
        color: #C2C3CB;
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.2s ease, opacity 0.2s ease;

    &.active {
      max-height: 500px;
      opacity: 1;
    }

    &__nav-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__burger {
    display: none;

    @include tablet {
      display: flex;
      align-self: center;
    }
  }
}
