.profile-mini {
  &__recent-viewed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 314px;
    padding-block: 6px;
    gap: 6px;

    &-first {
      max-width: 46px;
    }

    &-second {
      margin-right: 120px;
    }

    &-third {
      margin-left: auto;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;

      &-container {
        margin-right: 14px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        overflow: hidden;
      }
    }

    &-title {
      font-family: var(--font-family-poppins);
      text-wrap: nowrap;
      font-weight: 500;
      font-size: 15px;
      line-height: 140%;
      color: var(--color-black-1);
      padding-bottom: 7px;
    }

    &-description {
      font-family: var(--font-family-poppins);
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #64748b;
    }

    &-volume {
      font-family: var(--font-family-poppins);
      font-weight: 600;
      font-size: 15px;
      line-height: 140%;
      color: var(--color-black-1);

      &-icon {
        width: 17px;
        height: 17px;
        padding-right: 6px;
      }

      &-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
      }
    }

    &-percentage {
      font-family: var(--font-family-poppins);
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      color: #10c352;
      text-align: right;
    }
  }

  &__best-sellers {
    display: grid;
    grid-template-columns: 56px auto 80px;
    max-width: 284px;
    padding-block: 6px;

    &-first {
    }

    &-second {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    &-third {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;

      &-container {
        margin-right: 10px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
      }
    }

    &-title {
      font-family: var(--font-family-poppins);
      font-weight: 500;
      font-size: 12px;
      line-height: 171%;
      text-align: center;
      color: #23262f;
    }

    &-description {
      font-family: var(--font-family-poppins);
      font-weight: 400;
      font-size: 10px;
      line-height: 167%;
      color: #777e90;
    }
  }

  &__table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 221px;
    column-gap: 25px;

    &-first {
      max-width: 80px;
    }

    &-second {
      width: 139px;
      text-wrap: nowrap;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &-title {
      font-family: var(--font-family-poppins);
      font-weight: 500;
      font-size: 28px;
      line-height: 140%;
      color: #141416;
    }

    &-description {
      font-family: var(--font-family-poppins);
      font-weight: 400;
      font-size: 22px;
      line-height: 150%;
      color: #64748b;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;

      &-container {
        margin-right: 10px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}