.unleash {

  &__inner {
    display: grid;
    grid-template-columns: 461px 682px;
    font-family: var(--font-family-poppins);
    text-wrap: nowrap;
    gap: 102px;

    border-top: 1px solid #CBCBCB;
  }

  &__title {
    font-weight: 600;
    font-size: 45px;
    padding-top: 116px;
    line-height: 121%;
    text-transform: capitalize;
    color: #18181B;

    &-gray {
      color: #c5c5c5;
    }
  }

  &__list {
    margin-top: 45px;
    margin-bottom: 58px;
  }

  &__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #12141d;
    margin-bottom: 12px;

    display: flex;
    flex-direction: row;
    column-gap: 12px;
  }
}