.recent-viewed {
  display: flex;
  flex-direction: column;
  padding-bottom: 19px;
  padding-inline: 24px;
  padding-top: 23px;
  column-gap: 17px;

  max-width: 365px;
  max-height: 246px;
  border: 1px solid #edf2f7;
  box-shadow: 10px 10px 50px 0 rgba(20, 20, 22, 0.1);
  background-color: #FFFFFF;
  border-radius: var(--border-radius-m);

  &__title {
    font-family: var(--font-family-poppins);
    font-weight: 600;
    font-size: 21px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #1a202c;
    margin-bottom: 22px;
  }

  &__list {

  }

  &__item {
    padding-block: 10px;
  }

  &-first {
    margin: -130px var(--container-padding-x) 120px auto;;
  }
}