.banner {
  margin-bottom: 160px;
  margin-top: 214px;
  overflow: hidden;

  &__inner {
    background-color: var(--color-black-1);
    border-radius: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__first {
    padding-left: 66px;
    padding-top: 44px;
  }

  &__second {
    margin-left: auto;
    padding: 31px;
  }

  &__buttons {
    padding-block: 51px;
    display: flex;
    gap: 31px;
  }

  &__title {
    font-family: var(--font-family-poppins);
    font-weight: 600;
    font-size: 45px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #FFFFFF;

    padding-bottom: 12px;
  }

  &__description {
    font-family: var(--font-family-poppins);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #d4d4d4;
    opacity: 0.6;
  }

  &__image-container {
    position: relative;
    display: inline-block
  }

  &__image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: calc(100% + 10px);
    height: 100%;
    border-radius: 16px;

    background: linear-gradient(
        90deg,
        rgba(0, 200, 255, 0.6) 0%,
        rgb(226, 194, 181) 100%
    );

    filter: blur(50px);
    transform: translateY(10px);
    z-index: 1;
  }

  &__image {
    position: relative;
    border-radius: 16px;
    z-index: 2;
  }
}
